/* seletor universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* light-mode variável */
/* cria-se uma raiz */
:root {
  --text-color: white;
  /*rgb alfa (transparencia) */
  --stroke-color: rgba(255, 255, 255, 0.50);
  --surface-color: rgba(255, 255, 255, 0.10);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.20);
  --bg-url: url(./assets/bg-mobile.jpg);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

/* cria-se uma variável */
.light {
  --text-color: black;
  --stroke-color: rgba(0, 0, 0, 0.50);
  --surface-color: rgba(0, 0, 0, 0.10);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.20);
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --switch-bg-url: url(./assets/sun.svg);
}

/* background parametros */
body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

/* fonte */
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* espaço em volta dos conteúdos */
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* foto e nickname */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

/* espaçamento entre nickname e foto */
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* posicionamento button dentro da span */
#switch {
  position: relative;
  width: 64px;
  /* alinhamento com margem */
  margin: 24px auto;
}

/* switch */
#switch button {
  background: white var(--switch-bg-url) no-repeat center;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: none;

  /* sobreposição e alinhamento button dentro da span */
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

#switch button:hover {
  background-color: white;
  box-shadow: 0px 0px 0px 6px var(--stroke-color);
}

.light #switch button {
  right: 0;
  left: initial;

}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* lista / links */
ul {
  list-style: none;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  /*arredondamento de borda*/
  border-radius: 8px;
  backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: 0.7s;
}

/* peseudo-selector */
ul li a:hover {
  border: 2px solid var(--text-color);
  background: var(--surface-color-hover);
}

/* caixa sociais */
#social-links {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}

/* caixa icones sociais */
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: 0.5s;
  border-radius: 50px;
}

/* pseudo-icons */
#social-links a:hover {
  background: var(--highlight-color);
}

/* rodapé */
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 12px;
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}